<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="ja"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ja"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ja"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ja"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="{{ ASSET_PATH }}twitter/css/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
  <link href="{{ ASSET_PATH }}/images/favicon.ico" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body id="toppage">
<h1>HELLO WCAF</h1>
</body>
</html>
